@import "tailwindcss";

/* @tailwind base;
@tailwind components;
@tailwind utilities; */

html,
body {
	height: 100%;
	background-color: #121212;
	color: #fff;
}

.menu {
	font-size: 14px;
	border-radius: 2px;
	padding: 5px 0 5px 0;
	width: 150px;
	height: auto;
	margin: 0;
	/* use absolute positioning  */
	position: absolute;
	list-style: none;
	box-shadow: 0 0 20px 0 #ccc;
	opacity: 1;
	transition: opacity 0.5s linear;
}

#zoomview-container,
#overview-container {
	width: 1000px;
	height: 100px;
}


#waveform-minimap {
	height: 200px;
}